<div class="p-grid">
    <div class="p-col-12">
        <div class="box">News - ข่าวสาร</div>
    </div>
</div>

<div class="row" *ngFor="let news of News">

    <div class="p-grid" style="margin-bottom: 4rem;">

        <div class="p-col">
            <br>
            <p-card>
                <ng-template pTemplate="header">

                    <b style="padding: 1rem;">{{news.news_title}}</b>

                </ng-template>
                <!-- <p [innerHTML]="convertText(news.news_detail)"></p> -->

                <ng-template pTemplate="footer">
                    จำนวนผู้เข้าชม {{news.view}} ครั้ง
                    <p-button styleClass="p-button-link "></p-button>

                    <!-- <iframe frameborder="0" src="www.youtube.com/embed/tMx4_zUKwTw" width="640" height="360" class="note-video-clip"></iframe><br> -->
                    <a pButton href="home/detail/{{news.id}}" label="อ่านเพิ่มเติมคลิ๊ก " class="p-button-raised p-button-rounded " style="right: 0; ">
                    </a>
                </ng-template>
            </p-card>
        </div>

    </div>

</div>
